In [2]:
import pandas as pd
import os

In [ ]:
os.listdir("myauthapp/accounts/data/tai_yan_ba_fa/first.csv")

['first.csv',
 'fiveth.csv',
 'fourth.csv',
 'second.csv',
 'trid.csv',
 '丁壬.csv',
 '丙辛.csv',
 '乙庚.csv',
 '戊癸.csv',
 '甲己.csv']

In [25]:
df = pd.read_csv("myauthapp/accounts/data/tai_yan_ba_fa/trid.csv")
df[:5]

,0,1,2,3,4,5
0,子,00.00 - 01.00,Жэнь-май Lu.7,Ду-май Si.3,Инь-цяо Kid.6,Ян-цяо Bl.62
1,丑,01.00 - 01.30,Жэнь-май Lu.7,Ду-май Si.3,Инь-цяо Kid.6,Ян-цяо Bl.62
2,丑,01.30 - 03.00,Ян-вэй Th.5,Инь-вэй Hg.6,Чонг-май Sp.4,Дай-май Gb.41
3,寅,03.00 - 4.30,Ян-вэй Th.5,Инь-вэй Hg.6,,
4,寅,04.30 - 5.00,Чонг-май Sp.4,Дай-май Gb.41,,

In [26]:
for c in df.columns[2:]:
    df[c] = df[c].str.replace("Жэнь", "Жень")
    df[c] = df[c].str.replace("Чун", "Чонг")
    df[c] = df[c].str.replace("цзяо", "цяо")
df

,0,1,2,3,4,5
0,子,00.00 - 01.00,Жень-май Lu.7,Ду-май Si.3,Инь-цяо Kid.6,Ян-цяо Bl.62
1,丑,01.00 - 01.30,Жень-май Lu.7,Ду-май Si.3,Инь-цяо Kid.6,Ян-цяо Bl.62
2,丑,01.30 - 03.00,Ян-вэй Th.5,Инь-вэй Hg.6,Чонг-май Sp.4,Дай-май Gb.41
3,寅,03.00 - 4.30,Ян-вэй Th.5,Инь-вэй Hg.6,,
4,寅,04.30 - 5.00,Чонг-май Sp.4,Дай-май Gb.41,,
5,卯,05.00 - 7.00,Чонг-май Sp.4,Дай-май Gb.41,,
6,辰,07.00 - 7.30,Чонг-май Sp.4,Дай-май Gb.41,Инь-вэй Hg.6,Ян-вэй Th.5
7,辰,07.30 - 9.00,Инь-цяо Kid.6,Ян-цяо Bl.62,Инь-вэй Hg.6,Ян-вэй Th.5
8,巳,9.00 - 10.30,Инь-цяо Kid.6,Ян-цяо Bl.62,Инь-вэй Hg.6,Ян-вэй Th.5
9,巳,10.30 - 11.00,Ду-май Si.3,Жень-май Lu.7,Инь-цяо Kid.6,Ян-цяо Bl.62
10,午,11.00 - 13.00,Ду-май Si.3,Жень-май Lu.7,Инь-цяо Kid.6,Ян-цяо Bl.62
11,未,13.00 - 13.30,Ду-май Si.3,Жень-май Lu.7,Инь-цяо Kid.6,Ян-цяо Bl.62
12,未,13.30 - 15.00,Инь-вэй Hg.6,Ян-вэй Th.5,Чонг-май Sp.4,Дай-май Gb.41
13,申,15.00 - 16.30,Инь-вэй Hg.6,Ян-вэй Th.5,Чонг-май Sp.4,Дай-май Gb.41
14,申,16.30 - 17.00,Дай-май Gb.41,Чонг-май Sp.4,Инь-вэй Hg.6,Ян-вэй Th.5
15,酉,17.00 - 19.00,Дай-май Gb.41,Чонг-май Sp.4,Инь-вэй Hg.6,Ян-вэй Th.5
16,戌,19.00 - 19.30,Дай-май Gb.41,Чонг-май Sp.4,Ду-май Si.3,Жень-май Lu.7
17,戌,19.30 - 21.00,Ян-цяо Bl.62,Инь-цяо Kid.6,Ду-май Si.3,Жень-май Lu.7
18,亥,21.00 - 22.30,Ян-цяо Bl.62,Инь-цяо Kid.6,Ду-май Si.3,Жень-май Lu.7
19,亥,22.30 - 23.00,Жень-май Lu.7,Ду-май Si.3,Инь-цяо Kid.6,Ян-цяо Bl.62
20,子,23.00 - 00.00,Жень-май Lu.7,Ду-май Si.3,,

In [27]:
df.to_csv("myauthapp/accounts/data/tai_yan_ba_fa/trid.csv", index=False)